@import '../../../styles/colors.scss';
@import '../../../styles/text.styles.scss';

.app-bar-wrapper {
  margin-top: 80px; // acts a appbar clearence
  
  .app-bar {
    z-index: 2000;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vh;
    max-width: 100%;
    height: 80px;
    padding: 0 20px;
    color: white;
    background-color: $APP_DARK_BLUE;

    .back-btn-ab, .menu-ab{
      margin-right: 15px;
    }

    .title-ab{
      @extend .app_text-appbar;
      text-transform: uppercase;
    }
  }
}
