// all text related styles go here

.app_text-button {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 10px;
}

.app_text-h4 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 10px;
}
