@import '../../../styles/colors.scss';
@import '../../../styles/text.styles.scss';

.faq-toggle {
  border: 1px solid #686868;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  width: 100%;

  .sliding-header-ft {
    @extend .app_text-h4-medium;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: black;
  }

  .icon-faq {
    transform: rotateZ(0deg);
    transition: transform 200ms linear;

    &.icon-faq__active {
      transform: rotateZ(-180deg);
    }
  }

  .sliding-content-ft {
    @extend .app_text-h4;
    color: $APP_DISABLED;
    height: auto;
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms ease-out;
  }
}
