@import '../../../styles/colors.scss';
@import '../../../styles/text.styles.scss';

.btn-common-sc {
  @extend .app_text-h4-medium;
  border-radius: 5px;
  min-width: 70px;
  padding: 4px 0;
  background-color: transparent;
  text-transform: capitalize;
  margin-top: 5px;
  margin-right: 13px;
  border: none;
  color: $APP_LIGHT_BLUE;
}

.filled {
  color: $APP_LIGHT_BLUE;
  border: none
}
