@import '../../../styles/colors.scss';
@import '../../../styles/text.styles.scss';

.banner-cta {
  @extend .app_text-button;
  background-color: $APP_LIGHT_BLUE;
  border: 0;
  width: 93px;
  height: 25px;
  color: white;
  border-radius: 5px;
  text-transform: capitalize;

  &:focus {
    border: 0;
  }
}
